/* Generic border Helpers
------------------------------------
*/
.b-0 {
    border: 0px !important;
}
.b-b-0 {
    border-bottom:0px !important;
}
.b-t-0 {
    border-top: 0px !important;
}
.b-l-0 {
    border-left: 0px !important;
}
.b-r-0 {
    border-right: 0px !important;
}

/* Generic Padding Helpers
------------------------------------
*/
.p-t-0 {
  padding-top: 0px !important;
}
.p-r-0 {
  padding-right: 0px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}
.p-b-0 {
  padding-bottom: 0px !important;
}
.padding-0 {
  padding: 0px !important;
}
.p-t-5 {
  padding-top: 5px !important;
}
.p-r-5 {
  padding-right: 5px !important;
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}
.padding-5 {
  padding: 5px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
 
.p-b-10 {
  padding-bottom: 10px !important;
}
.padding-10 {
  padding: 10px !important;
}
.p-t-15 {
  padding-top: 15px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-b-15 {
  padding-bottom: 15px !important;
}
.padding-15 {
  padding: 15px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-r-20 {
  padding-right: 20px !important;
}
.p-l-20 {
  padding-left: 20px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.padding-20 {
  padding: 20px !important;
}
.p-t-25 {
  padding-top: 25px !important;
}
.p-r-25 {
  padding-right: 25px !important;
}
.p-l-25 {
  padding-left: 25px !important;
}
.p-b-25 {
  padding-bottom: 25px !important;
}
.padding-25 {
  padding: 25px !important;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-r-30 {
  padding-right: 30px !important;
}
.p-l-30 {
  padding-left: 30px !important;
}
.p-b-30 {
  padding-bottom: 30px !important;
}
.padding-30 {
  padding: 30px !important;
}
.p-t-35 {
  padding-top: 35px !important;
}
.p-r-35 {
  padding-right: 35px !important;
}
.p-l-35 {
  padding-left: 35px !important;
}
.p-b-35 {
  padding-bottom: 35px !important;
}
.padding-35 {
  padding: 35px !important;
}
.p-t-40 {
  padding-top: 40px !important;
}
.p-r-40 {
  padding-right: 40px !important;
}
.p-l-40 {
  padding-left: 40px !important;
}
.p-b-40 {
  padding-bottom: 40px !important;
}
.padding-40 {
  padding: 40px !important;
}
.p-t-45 {
  padding-top: 45px !important;
}
.p-r-45 {
  padding-right: 45px !important;
}
.p-l-45 {
  padding-left: 45px !important;
}
.p-b-45 {
  padding-bottom: 45px !important;
}
.padding-45 {
  padding: 45px !important;
}
.p-t-50 {
  padding-top: 50px !important;
}
.p-r-50 {
  padding-right: 50px !important;
}
.p-l-50 {
  padding-left: 50px !important;
}
.p-b-50 {
  padding-bottom: 50px !important;
}
.padding-50 {
  padding: 50px !important;
}
/* Generic Margin Helpers
------------------------------------
 */
.m-t-0 {
  margin-top: 0px;
}
.m-r-0 {
  margin-right: 0px;
}
.m-l-0 {
  margin-left: 0px;
}
.m-b-0 {
  margin-bottom: 0px;
}
.m-t-5 {
  margin-top: 5px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-l-25 {
  margin-left: 25px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-l-30 {
  margin-left: 30px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-t-35 {
  margin-top: 35px;
}
.m-r-35 {
  margin-right: 35px;
}
.m-l-35 {
  margin-left: 35px;
}
.m-b-35 {
  margin-bottom: 35px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-r-40 {
  margin-right: 40px;
}
.m-l-40 {
  margin-left: 40px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-t-45 {
  margin-top: 45px;
}
.m-r-45 {
  margin-right: 45px;
}
.m-l-45 {
  margin-left: 45px;
}
.m-b-45 {
  margin-bottom: 45px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-r-50 {
  margin-right: 50px;
}
.m-l-50 {
  margin-left: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-t-i-0 {
  margin-top: 0px !important;
}
.m-r-i-0 {
  margin-right: 0px !important;
}
.m-l-i-0 {
  margin-left: 0px !important;
}
.m-b-i-0 {
  margin-bottom: 0px !important;
}
.m-t-i-5 {
  margin-top: 5px !important;
}
.m-r-i-5 {
  margin-right: 5px !important;
}
.m-l-i-5 {
  margin-left: 5px !important;
}
.m-b-i-5 {
  margin-bottom: 5px !important;
}
.m-t-i-10 {
  margin-top: 10px !important;
}
.m-r-i-10 {
  margin-right: 10px !important;
}
.m-l-i-10 {
  margin-left: 10px !important;
}
.m-b-i-10 {
  margin-bottom: 10px !important;
}
.m-t-i-15 {
  margin-top: 15px !important;
}
.m-r-i-15 {
  margin-right: 15px !important;
}
.m-l-i-15 {
  margin-left: 15px !important;
}
.m-b-i-15 {
  margin-bottom: 15px !important;
}
.m-t-i-20 {
  margin-top: 20px !important;
}
.m-r-i-20 {
  margin-right: 20px !important;
}
.m-l-i-20 {
  margin-left: 20px !important;
}
.m-b-i-20 {
  margin-bottom: 20px !important;
}
.m-t-i-25 {
  margin-top: 25px !important;
}
.m-r-i-25 {
  margin-right: 25px !important;
}
.m-l-i-25 {
  margin-left: 25px !important;
}
.m-b-i-25 {
  margin-bottom: 25px !important;
}
.m-t-i-30 {
  margin-top: 30px !important;
}
.m-r-i-30 {
  margin-right: 30px !important;
}
.m-l-i-30 {
  margin-left: 30px !important;
}
.m-b-i-30 {
  margin-bottom: 30px !important;
}
.m-t-i-35 {
  margin-top: 35px !important;
}
.m-r-i-35 {
  margin-right: 35px !important;
}
.m-l-i-35 {
  margin-left: 35px !important;
}
.m-b-i-35 {
  margin-bottom: 35px !important;
}
.m-t-i-40 {
  margin-top: 40px !important;
}
.m-r-i-40 {
  margin-right: 40px !important;
}
.m-l-i-40 {
  margin-left: 40px !important;
}
.m-b-i-40 {
  margin-bottom: 40px !important;
}
.m-t-i-45 {
  margin-top: 45px !important;
}
.m-r-i-45 {
  margin-right: 45px !important;
}
.m-l-i-45 {
  margin-left: 45px !important;
}
.m-b-i-45 {
  margin-bottom: 45px !important;
}
.m-t-i-50 {
  margin-top: 50px !important;
}
.m-r-i-50 {
  margin-right: 50px !important;
}
.m-l-i-50 {
  margin-left: 50px !important;
}
.m-b-i-50 {
  margin-bottom: 50px !important;
}