@model WebApplication.Models.Home.IndexViewModel
@{
	ViewBag.Title = "Anasayfa";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="header-carousel" class="carousel slide carousel-fade " data-ride="carousel">
	 
	<ol class="carousel-indicators">
		<li data-target="#header-carousel" data-slide-to="0" class="active"><span class="small-circle"></span></li>
		<li data-target="#header-carousel" data-slide-to="1"><span class="small-circle"></span></li>
		<li data-target="#header-carousel" data-slide-to="2"><span class="small-circle"></span></li>
	</ol> 
	 
	<div class="carousel-inner" role="listbox">
	 
		<div class="item active">
			<div class="single-slide-item slide1">
				<div class="container">
					<div class="welcome-hero-content">
						<div class="row">
							<div class="col-sm-7">
								<div class="single-welcome-hero">
									<div class="welcome-hero-txt">
										<h4>great design collection</h4>
										<h2>cloth covered accent chair</h2>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
										</p>
										<div class="packages-price">
											<p>
												2.100,00 ₺
												<del>3.100,00 ₺</del>
											</p>
										</div>
										<button class="btn-cart welcome-add-cart" onclick="window.location.href='/Product/ProductDetail/4'">
											<span class="lnr lnr-plus-circle"></span>
											DETAY
										</button> 
									</div> 
								</div> 
							</div> 
							<div class="col-sm-5">
								<div class="single-welcome-hero">
									<div class="welcome-hero-img">
										<img src="/theme/assets/images/slider/slider1.png" alt="slider image">
									</div> 
								</div> 
							</div>  
						</div> 
					</div> 
				</div> 
			</div>  
		</div> 
		<div class="item">
			<div class="single-slide-item slide2">
				<div class="container">
					<div class="welcome-hero-content">
						<div class="row">
							<div class="col-sm-7">
								<div class="single-welcome-hero">
									<div class="welcome-hero-txt">
										<h4>great design collection</h4>
										<h2>mapple wood accent chair</h2>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
										</p>
										<div class="packages-price">
											<p>
												1.250,00 ₺
												<del>1.950,00 ₺</del>
											</p>
										</div>
										<button class="btn-cart welcome-add-cart" onclick="window.location.href='/Product/ProductDetail/3'">
											<span class="lnr lnr-plus-circle"></span>
											DETAY
										</button> 
									</div> 
								</div>
							</div>
							<div class="col-sm-5">
								<div class="single-welcome-hero">
									<div class="welcome-hero-img">
										<img src="/theme/assets/images/slider/slider2.png" alt="slider image">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="single-slide-item slide3">
				<div class="container">
					<div class="welcome-hero-content">
						<div class="row">
							<div class="col-sm-7">
								<div class="single-welcome-hero">
									<div class="welcome-hero-txt">
										<h4>great design collection</h4>
										<h2>valvet accent arm chair</h2>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
										</p>
										<div class="packages-price">
											<p>
												2.500,00 ₺
												<del>3.450,00 ₺</del>
											</p>
										</div>
										<button class="btn-cart welcome-add-cart" onclick="window.location.href='/Product/ProductDetail/7'">
											<span class="lnr lnr-plus-circle"></span>
											DETAY
										</button> 
									</div>
								</div>
							</div>
							<div class="col-sm-5">
								<div class="single-welcome-hero">
									<div class="welcome-hero-img">
										<img src="/theme/assets/images/slider/slider3.png" alt="slider image">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div> 
 
<section id="populer-products" class="populer-products p-t-20">
	<div class="container">
		<div class="populer-products-content">
			<div class="row">
				<div class="col-md-3">
					<div class="single-populer-products">
						<div class="single-populer-product-img mt40">
							<img src="/theme/assets/images/populer-products/p1.png" alt="populer-products images">
						</div>
						<h2><a href="#">arm chair</a></h2>
						<div class="single-populer-products-para">
							<p>Nemo enim ipsam voluptatem quia volu ptas sit asperna aut odit aut fugit.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="single-populer-products">
						<div class="single-inner-populer-products">
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<div class="single-inner-populer-product-img">
										<img src="/theme/assets/images/populer-products/p2.png" alt="populer-products images">
									</div>
								</div>
								<div class="col-md-8 col-sm-12">
									<div class="single-inner-populer-product-txt">
										<h2>
											<a href="#">
												latest designed stool <span>and</span> chair
											</a>
										</h2>
										<p>
											Edi ut perspiciatis unde omnis iste natusina error sit voluptatem accusantium doloret mque laudantium, totam rem aperiam.
											Edi ut perspiciatis unde omnis iste natusina error sit voluptatem accusantium doloret mque laudantium, totam rem aperiam.
										</p> 
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="single-populer-products">
						<div class="single-populer-products">
							<div class="single-populer-product-img">
								<img src="/theme/assets/images/populer-products/p3.png" alt="populer-products images">
							</div>
							<h2><a href="#">hanging lamp</a></h2>
							<div class="single-populer-products-para">
								<p>Nemo enim ipsam voluptatem quia volu ptas sit asperna aut odit aut fugit.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> 
 
 
<section id="new-arrivals" class="new-arrivals">
	<div class="container">
		<div class="section-header">
			<h2>Yeni Ürünler</h2>
		</div> 
		<div class="new-arrivals-content">
			<div class="row">

				@if (Model.LIST_PRODUCTS_NEW != null && Model.LIST_PRODUCTS_NEW.Count() > 0)
				{
					for (int i = 0; i < Model.LIST_PRODUCTS_NEW.Count(); i++)
					{
						<div class="col-md-3 col-sm-4">
							<div class="single-new-arrival">
								<div class="single-new-arrival-bg">
									<img src="@Model.LIST_PRODUCTS_NEW[i].PHOTODISPLAY" alt="new-arrivals images">
									<div class="single-new-arrival-bg-overlay"></div>
									 
								</div>
								<h4><a href="/Product/ProductDetail/@Model.LIST_PRODUCTS_NEW[i].ID">@Model.LIST_PRODUCTS_NEW[i].PRODUCTNAME</a></h4>
								<p class="arrival-product-price">@String.Format("{0:0,0.00}", Model.LIST_PRODUCTS_NEW[i].PRICE) ₺</p>
							</div>
						</div>
					}
				}


			</div>
		</div>
	</div>

</section> 
 