USE [master]
GO
/****** Object:  Database [MCC_PRODB]    Script Date: 22.10.2018 00:17:14 ******/
CREATE DATABASE [MCC_PRODB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MCC_PRODB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\MCC_PRODB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MCC_PRODB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\MCC_PRODB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MCC_PRODB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MCC_PRODB]
GO
USE [MCC_PRODB]
GO
/****** Object:  Table [dbo].[TBL_CATEGORIES]    Script Date: 22.10.2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CATEGORIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORYNAME] [varchar](25) NOT NULL,
	[ISACTIVE] [bit] NULL,
	[ISDELETE] [bit] NULL,
	[CREATEDATE] [smalldatetime] NOT NULL,
	[CREATEUSERID] [int] NOT NULL,
 CONSTRAINT [PK_TBL_CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PRODUCTS]    Script Date: 22.10.2018 00:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PRODUCTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTNAME] [varchar](75) NOT NULL,
	[PRODUCTCODE] [varchar](15) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[PHOTOADDRESS] [varchar](255) NULL,
	[PRICE] [float] NULL,
	[TAX] [float] NULL,
	[CATEGORYID] [int] NOT NULL,
	[ISACTIVE] [bit] NOT NULL,
	[ISDELETE] [bit] NOT NULL,
	[CREATEDATE] [smalldatetime] NOT NULL,
	[CREATEUSERID] [int] NOT NULL,
	[LASTCHANGEDATE] [smalldatetime] NULL,
	[LASTCHANGEUSERID] [int] NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USERS]    Script Date: 22.10.2018 00:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FULLNAME] [varchar](75) NOT NULL,
	[EMAIL] [varchar](125) NOT NULL,
	[PASSWORD] [varchar](15) NOT NULL,
	[PHONE] [varchar](15) NULL,
	[ISEXECUTIVE] [bit] NOT NULL,
	[ISACTIVE] [bit] NOT NULL,
	[ISDELETE] [bit] NOT NULL,
	[CREATEDATE] [smalldatetime] NOT NULL,
	[CREATEUSERID] [int] NOT NULL,
	[LASTCHANGEDATE] [smalldatetime] NULL,
	[LASTCHANGEUSERID] [int] NULL,
 CONSTRAINT [PK_TBL_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_CATEGORIES] ADD  CONSTRAINT [DF_TBL_CATEGORIES_ISACTIVE]  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[TBL_CATEGORIES] ADD  CONSTRAINT [DF_TBL_CATEGORIES_ISDELETE]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[TBL_CATEGORIES] ADD  CONSTRAINT [DF_TBL_CATEGORIES_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[TBL_PRODUCTS] ADD  CONSTRAINT [DF_TBL_PRODUCTS_ISACTIVE]  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[TBL_PRODUCTS] ADD  CONSTRAINT [DF_TBL_PRODUCTS_ISDELETE]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[TBL_PRODUCTS] ADD  CONSTRAINT [DF_USERS_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[TBL_USERS] ADD  CONSTRAINT [DF_TBL_USERS_ISEXECUTIVE]  DEFAULT ((0)) FOR [ISEXECUTIVE]
GO
ALTER TABLE [dbo].[TBL_USERS] ADD  CONSTRAINT [DF_TBL_USERS_ISACTIVE]  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[TBL_USERS] ADD  CONSTRAINT [DF_TBL_USERS_ISDELETE]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[TBL_USERS] ADD  CONSTRAINT [DF_TBL_USERS_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[TBL_CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CATEGORIES_TBL_USERS] FOREIGN KEY([CREATEUSERID])
REFERENCES [dbo].[TBL_USERS] ([ID])
GO
ALTER TABLE [dbo].[TBL_CATEGORIES] CHECK CONSTRAINT [FK_TBL_CATEGORIES_TBL_USERS]
GO
ALTER TABLE [dbo].[TBL_PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PRODUCTS_TBL_CATEGORIES] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[TBL_CATEGORIES] ([ID])
GO
ALTER TABLE [dbo].[TBL_PRODUCTS] CHECK CONSTRAINT [FK_TBL_PRODUCTS_TBL_CATEGORIES]
GO
ALTER TABLE [dbo].[TBL_PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PRODUCTS_TBL_USERS] FOREIGN KEY([CREATEUSERID])
REFERENCES [dbo].[TBL_USERS] ([ID])
GO
ALTER TABLE [dbo].[TBL_PRODUCTS] CHECK CONSTRAINT [FK_TBL_PRODUCTS_TBL_USERS]
GO
/****** Object:  StoredProcedure [dbo].[Kolon]    Script Date: 22.10.2018 00:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
                
                
CREATE PROC [dbo].[Kolon]                              
@TABLE VARCHAR(MAX) = 'TBL_RDD_URUN_URETICI'                      
AS                  
                    
                 
                
                
 SELECT                  
 ROW_NUMBER() OVER(ORDER BY ORDINAL_POSITION) AS ROWNUMBER,                            
 '[DBField("'+COLUMN_NAME+'")] '+char(13)+char(10)+'public '+                            
 CASE DATA_TYPE                             
 WHEN 'int' THEN 'int'                      
 WHEN 'bigint' THEN 'long'                             
 WHEN 'float' THEN 'double'                            
 WHEN 'decimal' THEN 'decimal'                             
 WHEN 'varchar' THEN 'string'                             
 WHEN 'nvarchar' THEN 'string'                              
 WHEN 'nchar' THEN 'string'                             
 WHEN 'char' THEN 'string'                            
 WHEN 'text' THEN 'string'                           
 WHEN 'ntext' THEN 'string'                          
 WHEN 'uniqueidentifier' THEN 'Guid'                          
 WHEN 'smalldatetime' THEN 'DateTime'                             
 WHEN 'datetime' THEN 'DateTime'                             
 WHEN 'bit' THEN 'bool'                             
 WHEN 'tinyint' THEN 'byte'                          
 WHEN 'smallint' THEN 'byte'                           
 ELSE 'bilinmiyor'                             
 END                             
 + ' '+COLUMN_NAME + ' { get; set; }' +char(13)+char(10) as PROPERTIES,                  
                
 '@'+COLUMN_NAME+' '+ UPPER(DATA_TYPE collate SQL_Latin1_General_CP1_CI_AS)+                  
 CASE DATA_TYPE                                        
 WHEN 'varchar'  THEN (CASE  WHEN  ISNULL(CHARACTER_MAXIMUM_LENGTH,-2) = -2 THEN '' WHEN CHARACTER_MAXIMUM_LENGTH = -1  THEN '(MAX)' ELSE '('+CAST(CHARACTER_MAXIMUM_LENGTH AS varchar(5))+')' END)                            
 WHEN 'nvarchar' THEN (CASE  WHEN  ISNULL(CHARACTER_MAXIMUM_LENGTH,-2) = -2 THEN '' WHEN CHARACTER_MAXIMUM_LENGTH = -1  THEN '(MAX)' ELSE '('+CAST(CHARACTER_MAXIMUM_LENGTH AS varchar(5))+')' END)                              
 WHEN 'nchar'  THEN (CASE  WHEN  ISNULL(CHARACTER_MAXIMUM_LENGTH,-2) = -2 THEN '' WHEN CHARACTER_MAXIMUM_LENGTH = -1  THEN '(MAX)' ELSE '('+CAST(CHARACTER_MAXIMUM_LENGTH AS varchar(5))+')' END)                             
 WHEN 'char'  THEN (CASE  WHEN  ISNULL(CHARACTER_MAXIMUM_LENGTH,-2) = -2 THEN '' WHEN CHARACTER_MAXIMUM_LENGTH = -1  THEN '(MAX)' ELSE '('+CAST(CHARACTER_MAXIMUM_LENGTH AS varchar(5))+')' END)                             
 WHEN 'text'  THEN (CASE  WHEN  ISNULL(CHARACTER_MAXIMUM_LENGTH,-2) = -2 THEN '' WHEN CHARACTER_MAXIMUM_LENGTH = -1  THEN '(MAX)' ELSE '('+CAST(CHARACTER_MAXIMUM_LENGTH AS varchar(5))+')' END)                            
 WHEN 'ntext'  THEN (CASE  WHEN  ISNULL(CHARACTER_MAXIMUM_LENGTH,-2) = -2 THEN '' WHEN CHARACTER_MAXIMUM_LENGTH = -1  THEN '(MAX)' ELSE '('+CAST(CHARACTER_MAXIMUM_LENGTH AS varchar(5))+')' END)                                    
 ELSE ''                             
 END +                  
 ' = NULL' AS PARAMETER_FORMAT,                   
                  
 COLUMN_NAME+' = ISNULL(@'+COLUMN_NAME+','+COLUMN_NAME+')' AS UPDATE_FORMAT,                   
 COLUMN_NAME,                  
 DATA_TYPE,                      
 ISNULL(CHARACTER_MAXIMUM_LENGTH,-2) as CHARACTER_MAXIMUM_LENGTH,                     
                          
 IS_NULLABLE,ISNULL(COLUMN_DEFAULT,'') as COLUMN_DEFAULT                       
                        
, TABLE_NAME                
                 
                   
INTO #TMP                 
FROM INFORMATION_SCHEMA.COLUMNS AS [TABLECOLUMNS]                               
WHERE TABLE_NAME = @TABLE                            
ORDER BY TABLE_NAME,ORDINAL_POSITION                        
                
SELECT * FROM #TMP              
                
                
                
DECLARE @CURSOR_KOLON VARCHAR(MAX),@RESULT_PARAMETER_SET VARCHAR(MAX) = '', @RESULT_PARAMETER VARCHAR(MAX) = '',@RESULT_KOLON_SET VARCHAR(MAX) = '',@RESULT_KOLON VARCHAR(MAX) = '',@RESULT_KOLON_AT VARCHAR(MAX) = ''               
, @RESULT_PARAMETER_INSERT VARCHAR(MAX) = '',@RESULT_KOLON_INSERT VARCHAR(MAX) = '',@RESULT_KOLON_AT_INSERT VARCHAR(MAX) = '',@RESULT_KOLON_SET_UPDATE VARCHAR(MAX) = '',@RESULT_KOLON_UPDATE VARCHAR(MAX) = '',@ROWNUMBER INT                
                
                
                 
                
                
DECLARE MY_CURSOR CURSOR                 
  LOCAL STATIC READ_ONLY FORWARD_ONLY                
FOR                 
SELECT ROWNUMBER,COLUMN_NAME FROM #TMP                
                
OPEN MY_CURSOR                
FETCH NEXT FROM MY_CURSOR INTO @ROWNUMBER, @CURSOR_KOLON                
                
WHILE @@FETCH_STATUS = 0                
BEGIN                 
                    
 SELECT                 
 @RESULT_PARAMETER_SET = PARAMETER_FORMAT ,                
 @RESULT_KOLON_SET = COLUMN_NAME ,                
 @RESULT_KOLON_SET_UPDATE = UPDATE_FORMAT                 
 FROM #TMP WHERE  ROWNUMBER =  @ROWNUMBER                
                
 SET @RESULT_PARAMETER = @RESULT_PARAMETER + ' ' + @RESULT_PARAMETER_SET  + ' , ' + '!'               
 SET @RESULT_KOLON = @RESULT_KOLON + ' ' + @RESULT_KOLON_SET  + ' , ' +'!'             
 SET @RESULT_KOLON_AT = @RESULT_KOLON_AT + '@' + @RESULT_KOLON_SET  + ' , '   + '!'            
 SET @RESULT_KOLON_UPDATE = @RESULT_KOLON_UPDATE + ' ' + @RESULT_KOLON_SET_UPDATE  + ' , '   + '!'            
                
    --PRINT @ROWNUMBER                
    --PRINT @RESULT_KOLON                
                
    FETCH NEXT FROM MY_CURSOR INTO @ROWNUMBER,@CURSOR_KOLON                
END                
CLOSE MY_CURSOR                
DEALLOCATE MY_CURSOR                
                
SET @RESULT_PARAMETER_INSERT =  REPLACE(@RESULT_PARAMETER,'@ID INT = NULL ,','')                
SET @RESULT_KOLON_INSERT =  REPLACE(@RESULT_KOLON,' ID ,','')                
SET @RESULT_KOLON_AT_INSERT =  REPLACE(@RESULT_KOLON_AT,'@ID ,','')                
                
DECLARE @INSERT_TEXT VARCHAR(MAX) = 'CREATE PROC '+ REPLACE(@TABLE,'TBL_','SP_') +'_INSERT ' + LEFT(@RESULT_PARAMETER_INSERT,LEN(@RESULT_PARAMETER_INSERT)-3) + '!' +'AS '+ '!' +'INSERT INTO ' + @TABLE +' ('+ LEFT(@RESULT_KOLON_INSERT,LEN(@RESULT_KOLON_INSERT)-3) +') '+ '!' +' SELECT ' + LEFT(@RESULT_KOLON_AT_INSERT,LEN(@RESULT_KOLON_AT_INSERT)-3)                 
--SELECT @INSERT_TEXT AS INSERT_SCRIPT  
 SELECT value  AS INSERT_SCRIPT   FROM STRING_SPLIT(@INSERT_TEXT, '!')   WHERE RTRIM(value) <> '';                  
                
                
SET @RESULT_KOLON_UPDATE =  REPLACE(@RESULT_KOLON_UPDATE,'ID = ISNULL(@ID,ID) ,','')                
DECLARE @UPDATE_TEXT VARCHAR(MAX) = 'CREATE PROC '+ REPLACE(@TABLE,'TBL_','SP_') +'_UPDATE ' + '!' + LEFT(@RESULT_PARAMETER,LEN(@RESULT_PARAMETER)-3) + '!' +'AS '+ '!' +'UPDATE ' + @TABLE + '!' +'SET ' + LEFT(@RESULT_KOLON_UPDATE,LEN(@RESULT_KOLON_UPDATE)
-3) + '!' +'WHERE ID = @ID'                 
--SELECT @UPDATE_TEXT AS UPDATE_SCRIPT 
 SELECT value  AS UPDATE_SCRIPT   FROM STRING_SPLIT(@UPDATE_TEXT, '!')   WHERE RTRIM(value) <> '';    
                
DECLARE @DELETE_TEXT VARCHAR(MAX) = 'CREATE PROC '+ REPLACE(@TABLE,'TBL_','SP_') +'_DELETE '+ '!' + '@ID INT = NULL '+ '!' +'AS '+ '!' +'DELETE FROM ' + @TABLE +' WHERE ID = @ID'                 
--SELECT @DELETE_TEXT AS DELETE_SCRIPT
 SELECT value  AS DELETE_SCRIPT   FROM STRING_SPLIT(@DELETE_TEXT, '!')   WHERE RTRIM(value) <> '';      
                
DECLARE @LIST_TEXT VARCHAR(MAX) = 'CREATE PROC '  + REPLACE(@TABLE,'TBL_','SP_') +'_LIST '+ '!' +'@ID INT = NULL '+ '!' +'AS '+ '!' +'SELECT '+ '!' +LEFT(@RESULT_KOLON,LEN(@RESULT_KOLON)-3)+ '!' +'FROM ' + @TABLE +'(NOLOCK) '+ '!' +'WHERE '+ '!' +' ( (@ID
 IS NULL) OR (ID=@ID) )'              
                  
--SELECT @LIST_TEXT AS LIST_SCRIPT                       
 SELECT value  AS LIST_SCRIPT   FROM STRING_SPLIT(@LIST_TEXT, '!')   WHERE RTRIM(value) <> '';                 
                
--PRINT '////////////////// İNSERT /////////////////////'                
--PRINT @INSERT_TEXT                
--PRINT  CHAR(13)                  
--PRINT '////////////////// UPDATE /////////////////////'                
--PRINT @UPDATE_TEXT                
--PRINT   CHAR(13)                 
--PRINT '////////////////// DELETE /////////////////////'                
--PRINT @DELETE_TEXT                
--PRINT CHAR(13)                  
--PRINT '////////////////// LİST /////////////////////'               
--PRINT @LIST_TEXT    


     
                
DROP TABLE #TMP
GO
/****** Object:  StoredProcedure [dbo].[search]    Script Date: 22.10.2018 00:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[search]          
 @SEARCHTEXT varchar(200)       
AS   
  
SELECT      COLUMN_NAME AS 'ColumnName'  
            ,TABLE_NAME AS  'TableName'  
FROM        INFORMATION_SCHEMA.COLUMNS  
WHERE       COLUMN_NAME LIKE '%'+@SEARCHTEXT+'%'  
ORDER BY    TableName  
            ,ColumnName;  
   
     
         
SELECT 'SP_helptext '''+t.name+'''' query, *           
FROM sysobjects t, syscomments c          
WHERE t.id = c.id          
and  c.text like '%'+@SEARCHTEXT+'%'        
ORDER BY t.name
GO
/****** Object:  StoredProcedure [dbo].[SP_CATEGORIES_DELETE]    Script Date: 22.10.2018 00:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROC [dbo].[SP_CATEGORIES_DELETE] 
@ID INT   
AS 
--DELETE FROM TBL_CATEGORIES WHERE ID = @ID

UPDATE TBL_CATEGORIES SET ISACTIVE = 0 ,ISDELETE = 1  WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_CATEGORIES_INSERT]    Script Date: 22.10.2018 00:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CATEGORIES_INSERT]   
 @CATEGORYNAME VARCHAR(25)   , 
 @ISACTIVE BIT  , 
 @ISDELETE BIT , 
 @CREATEUSERID INT   , 
 @CREATEDATE SMALLDATETIME = NULL
AS 
INSERT INTO TBL_CATEGORIES ( 
 CATEGORYNAME ,  
 ISACTIVE, 
 ISDELETE,
 CREATEUSERID ,
 CREATEDATE) 
 SELECT  
@CATEGORYNAME ,  
@ISACTIVE ,
@ISDELETE ,
@CREATEUSERID ,
@CREATEDATE
GO
/****** Object:  StoredProcedure [dbo].[SP_CATEGORIES_LIST]    Script Date: 22.10.2018 00:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROC [dbo].[SP_CATEGORIES_LIST] 
@ID INT = NULL ,
@CREATEUSERID INT = NULL  ,
@ISACTIVE  BIT = NULL ,
@ISPRODUCTCOUNT BIT = NULL
AS 
SELECT 
 C.ID , 
 C.CATEGORYNAME , 
 C.CREATEDATE , 
 C.ISACTIVE,
 C.ISDELETE,
 C.CREATEUSERID,
 U.FULLNAME AS CREATEUSERNAME,
 CAST(0 AS INT) AS PRODUCTCOUNT 
 INTO #TMP
FROM TBL_CATEGORIES C(NOLOCK) 
INNER JOIN TBL_USERS U(NOLOCK) ON U.ID = C.CREATEUSERID
WHERE 
( (@ID IS NULL) OR (C.ID=@ID) )
AND ( (@CREATEUSERID IS NULL) OR (C.CREATEUSERID=@CREATEUSERID) )
AND ( (@ISACTIVE IS NULL) OR (C.ISACTIVE=@ISACTIVE) )
AND C.ISDELETE = 0

IF ISNULL(@ISPRODUCTCOUNT,0) = 1
BEGIN

UPDATE T
SET T.PRODUCTCOUNT = L.PRODUCTCOUNT
FROM #TMP T
INNER JOIN (
SELECT CATEGORYID,COUNT(1) AS PRODUCTCOUNT FROM TBL_PRODUCTS (NOLOCK) WHERE ISACTIVE = 1 GROUP BY CATEGORYID
) AS L ON L.CATEGORYID = T.ID

END

SELECT * FROM #TMP

DROP TABLE #TMP
GO
/****** Object:  StoredProcedure [dbo].[SP_CATEGORIES_UPDATE]    Script Date: 22.10.2018 00:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CATEGORIES_UPDATE] 
 @ID INT = NULL , 
 @CATEGORYNAME VARCHAR(25) = NULL , 
 @ISACTIVE BIT  , 
 @ISDELETE BIT , 
 @CREATEDATE SMALLDATETIME = NULL , 
 @CREATEUSERID INT = NULL 
AS 
UPDATE TBL_CATEGORIES
SET   
 CATEGORYNAME = ISNULL(@CATEGORYNAME,CATEGORYNAME) , 
 ISACTIVE = ISNULL(@ISACTIVE,ISACTIVE) , 
 ISDELETE = ISNULL(@ISDELETE,ISDELETE) , 
 CREATEDATE = ISNULL(@CREATEDATE,CREATEDATE) , 
 CREATEUSERID = ISNULL(@CREATEUSERID,CREATEUSERID) 
WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_PRODUCTS_DELETE]    Script Date: 22.10.2018 00:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROC [dbo].[SP_PRODUCTS_DELETE] 
@ID INT = NULL 
AS 
--DELETE FROM TBL_PRODUCTS WHERE ID = @ID

UPDATE TBL_PRODUCTS SET ISACTIVE = 0 ,ISDELETE = 1 WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_PRODUCTS_INSERT]    Script Date: 22.10.2018 00:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROC [dbo].[SP_PRODUCTS_INSERT]   
 @PRODUCTNAME VARCHAR(75)  , 
 @PRODUCTCODE VARCHAR(15) = NULL , 
 @DESCRIPTION VARCHAR(MAX) = NULL , 
 @PHOTOADDRESS VARCHAR(255) = NULL , 
 @PRICE FLOAT = NULL , 
 @TAX FLOAT = NULL , 
 @CATEGORYID INT   , 
 @ISACTIVE BIT = NULL , 
 @ISDELETE BIT = NULL , 
 @CREATEDATE SMALLDATETIME  , 
 @CREATEUSERID INT  , 
 @LASTCHANGEDATE SMALLDATETIME = NULL , 
 @LASTCHANGEUSERID INT = NULL 
AS 
INSERT INTO TBL_PRODUCTS ( 
 PRODUCTNAME , 
 PRODUCTCODE , 
 DESCRIPTION , 
 PHOTOADDRESS , 
 PRICE , 
 TAX , 
 CATEGORYID , 
 ISACTIVE , 
 ISDELETE , 
 CREATEDATE , 
 CREATEUSERID   ) 
 SELECT  
@PRODUCTNAME , 
@PRODUCTCODE , 
@DESCRIPTION , 
@PHOTOADDRESS , 
@PRICE , 
@TAX , 
@CATEGORYID , 
@ISACTIVE , 
@ISDELETE , 
@CREATEDATE , 
@CREATEUSERID  
GO
/****** Object:  StoredProcedure [dbo].[SP_PRODUCTS_LIST]    Script Date: 22.10.2018 00:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROC [dbo].[SP_PRODUCTS_LIST] 
@ID INT = NULL ,
@CATEGORYID INT = NULL ,
@CREATEUSERID INT = NULL ,
@ISACTIVE  BIT = NULL  ,
@ISACTIVE_CATEGORY  BIT = NULL 
AS 
SELECT 
 P.ID , 
 P.PRODUCTNAME , 
 P.PRODUCTCODE , 
 P.DESCRIPTION , 
 P.PHOTOADDRESS , 
 P.PRICE , 
 P.TAX , 
 P.CATEGORYID , 
 C.CATEGORYNAME ,
 P.ISACTIVE , 
 P.ISDELETE , 
 P.CREATEDATE , 
 P.CREATEUSERID , 
 U.FULLNAME AS CREATEUSERNAME,
 P.LASTCHANGEDATE , 
 P.LASTCHANGEUSERID 
FROM TBL_PRODUCTS P(NOLOCK) 
INNER JOIN TBL_CATEGORIES C ON C.ID=P.CATEGORYID
INNER JOIN TBL_USERS U ON U.ID = P.CREATEUSERID
WHERE 
 ( (@ID IS NULL) OR (P.ID=@ID) )
AND ( (@CATEGORYID IS NULL) OR (P.CATEGORYID=@CATEGORYID) )
AND ( (@CREATEUSERID IS NULL) OR (P.CREATEUSERID=@CREATEUSERID) )
AND ( (@ISACTIVE IS NULL) OR (P.ISACTIVE=@ISACTIVE) )
AND ( (@ISACTIVE_CATEGORY IS NULL) OR (C.ISACTIVE=@ISACTIVE_CATEGORY) )
AND P.ISDELETE = 0
GO
/****** Object:  StoredProcedure [dbo].[SP_PRODUCTS_UPDATE]    Script Date: 22.10.2018 00:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[SP_PRODUCTS_UPDATE] 
 @ID INT   , 
 @PRODUCTNAME VARCHAR(75) = NULL , 
 @PRODUCTCODE VARCHAR(15) = NULL , 
 @DESCRIPTION VARCHAR(MAX) = NULL , 
 @PHOTOADDRESS VARCHAR(255) = NULL , 
 @PRICE FLOAT = NULL , 
 @TAX FLOAT = NULL , 
 @CATEGORYID INT = NULL , 
 @ISACTIVE BIT = NULL , 
 @ISDELETE BIT = NULL , 
 @CREATEDATE SMALLDATETIME = NULL , 
 @CREATEUSERID INT = NULL , 
 @LASTCHANGEDATE SMALLDATETIME = NULL , 
 @LASTCHANGEUSERID INT = NULL 
AS 
UPDATE TBL_PRODUCTS
SET   
 PRODUCTNAME = ISNULL(@PRODUCTNAME,PRODUCTNAME) , 
 PRODUCTCODE = ISNULL(@PRODUCTCODE,PRODUCTCODE) , 
 DESCRIPTION = ISNULL(@DESCRIPTION,DESCRIPTION) , 
 PHOTOADDRESS = ISNULL(@PHOTOADDRESS,PHOTOADDRESS) , 
 PRICE = ISNULL(@PRICE,PRICE) , 
 TAX = ISNULL(@TAX,TAX) , 
 CATEGORYID = ISNULL(@CATEGORYID,CATEGORYID) , 
 ISACTIVE = ISNULL(@ISACTIVE,ISACTIVE) , 
 ISDELETE = ISNULL(@ISDELETE,ISDELETE) , 
 CREATEDATE = ISNULL(@CREATEDATE,CREATEDATE) , 
 CREATEUSERID = ISNULL(@CREATEUSERID,CREATEUSERID) , 
 LASTCHANGEDATE = ISNULL(@LASTCHANGEDATE,LASTCHANGEDATE) , 
 LASTCHANGEUSERID = ISNULL(@LASTCHANGEUSERID,LASTCHANGEUSERID) 
WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_USERS_DELETE]    Script Date: 22.10.2018 00:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROC [dbo].[SP_USERS_DELETE] 
@ID INT = NULL 
AS 
--DELETE FROM TBL_USERS WHERE ID = @ID
UPDATE TBL_USERS SET ISACTIVE = 0 ,ISDELETE = 1 WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_USERS_INSERT]    Script Date: 22.10.2018 00:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_USERS_INSERT]   
 @FULLNAME VARCHAR(75)  , 
 @EMAIL VARCHAR(125)  , 
 @PASSWORD VARCHAR(15)  , 
 @PHONE VARCHAR(15) = NULL , 
 @ISEXECUTIVE BIT   , 
 @ISACTIVE BIT   , 
 @ISDELETE BIT   , 
 @CREATEDATE SMALLDATETIME   , 
 @CREATEUSERID INT   , 
 @LASTCHANGEDATE SMALLDATETIME = NULL , 
 @LASTCHANGEUSERID INT = NULL 
AS 
INSERT INTO TBL_USERS ( 
 FULLNAME , 
 EMAIL , 
 PASSWORD , 
 PHONE , 
 ISEXECUTIVE , 
 ISACTIVE , 
 ISDELETE , 
 CREATEDATE , 
 CREATEUSERID , 
 LASTCHANGEDATE , 
 LASTCHANGEUSERID ) 
 SELECT  
@FULLNAME , 
@EMAIL , 
@PASSWORD , 
@PHONE , 
@ISEXECUTIVE , 
@ISACTIVE , 
@ISDELETE , 
@CREATEDATE , 
@CREATEUSERID , 
@LASTCHANGEDATE , 
@LASTCHANGEUSERID 
GO
/****** Object:  StoredProcedure [dbo].[SP_USERS_LIST]    Script Date: 22.10.2018 00:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROC [dbo].[SP_USERS_LIST] 
@ID INT = NULL ,
@EMAIL VARCHAR(125) = NULL ,
@PASSWORD  VARCHAR(15) = NULL ,
@ISACTIVE  BIT = NULL  ,
@ISEXECUTIVE  BIT = NULL 
AS 
SELECT 
 U.ID , 
 U.FULLNAME , 
 U.EMAIL , 
 U.PASSWORD , 
 U.PHONE , 
 U.ISEXECUTIVE , 
 U.ISACTIVE , 
 U.ISDELETE , 
 U.CREATEDATE , 
 U.CREATEUSERID , 
 UO.FULLNAME AS CREATEUSERNAME,
 U.LASTCHANGEDATE , 
 U.LASTCHANGEUSERID 
FROM TBL_USERS U(NOLOCK) 
INNER JOIN TBL_USERS UO ON UO.ID = U.CREATEUSERID
WHERE 
 ( (@ID IS NULL) OR (U.ID=@ID) )
AND ( (@EMAIL IS NULL) OR (LOWER(U.EMAIL)=LOWER(@EMAIL)) )
AND ( (@PASSWORD IS NULL) OR (U.[PASSWORD]=@PASSWORD) )
AND ( (@ISACTIVE IS NULL) OR (U.ISACTIVE=@ISACTIVE) )
AND ( (@ISEXECUTIVE IS NULL) OR (U.ISEXECUTIVE=@ISEXECUTIVE) )
AND U.ISDELETE = 0


 
GO
/****** Object:  StoredProcedure [dbo].[SP_USERS_UPDATE]    Script Date: 22.10.2018 00:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_USERS_UPDATE] 
 @ID INT  , 
 @FULLNAME VARCHAR(75) = NULL , 
 @EMAIL VARCHAR(125) = NULL , 
 @PASSWORD VARCHAR(15) = NULL , 
 @PHONE VARCHAR(15) = NULL , 
 @ISEXECUTIVE BIT = NULL , 
 @ISACTIVE BIT = NULL , 
 @ISDELETE BIT = NULL , 
 @CREATEDATE SMALLDATETIME = NULL , 
 @CREATEUSERID INT = NULL , 
 @LASTCHANGEDATE SMALLDATETIME = NULL , 
 @LASTCHANGEUSERID INT = NULL 
AS 
UPDATE TBL_USERS
SET   
 FULLNAME = ISNULL(@FULLNAME,FULLNAME) , 
 EMAIL = ISNULL(@EMAIL,EMAIL) , 
 PASSWORD = ISNULL(@PASSWORD,PASSWORD) , 
 PHONE = ISNULL(@PHONE,PHONE) , 
 ISEXECUTIVE = ISNULL(@ISEXECUTIVE,ISEXECUTIVE) , 
 ISACTIVE = ISNULL(@ISACTIVE,ISACTIVE) , 
 ISDELETE = ISNULL(@ISDELETE,ISDELETE) , 
 CREATEDATE = ISNULL(@CREATEDATE,CREATEDATE) , 
 CREATEUSERID = ISNULL(@CREATEUSERID,CREATEUSERID) , 
 LASTCHANGEDATE = ISNULL(@LASTCHANGEDATE,LASTCHANGEDATE) , 
 LASTCHANGEUSERID = ISNULL(@LASTCHANGEUSERID,LASTCHANGEUSERID) 
WHERE ID = @ID
GO
USE [master]
GO
